# Install and Imports

In [0]:
import pandas as pd
import string
import numpy as np

# Mount Google Drive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Pre-processing

## NYTimes

In [0]:
blah = pd.read_csv('/content/drive/Shared drives/CIS550_Project/finalCSV/NYTimesBestSellers.csv')
blah = blah.dropna()

In [0]:
blah.columns

Index(['Unnamed: 0', 'rank', 'rank_last_week', 'weeks_on_list', 'isbn',
       'publisher', 'description', 'title', 'author', 'book_image',
       'book_image_width', 'book_image_height', 'amazon_product_url'],
      dtype='object')

In [0]:
nytimes_entity = blah[['isbn', 'rank','rank_last_week', 'weeks_on_list']]

In [0]:
nytimes_entity.to_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/NYTimesBestSellers.csv')
# /content/drive/Shared drives/CIS550_Project/finalCSV/NYTimesBestSellers.csv

## Category

Add NYTimes Category with Book Depository

In [0]:
category_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/finalCSV/Category.csv')
book_category_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/finalCSV/BookCategory.csv')

book_category_df

                  isbn  categoryId
0            393325792       220.0
1            393325792       233.0
2            393325792       237.0
3            393325792      2644.0
4            393325792      2679.0
...                ...         ...
4080416  9781444179637      1378.0
4080417  9781444179637      1384.0
4080418     143293600X      1312.0
4080419     143293600X      2578.0
4080420     143293600X      2597.0

[4080421 rows x 2 columns]

In [0]:
nytimes_category = pd.read_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/updated/nytimesbookcategory.csv')

In [0]:
nytimes_category.drop(['Unnamed: 0'],axis=1, inplace=True)

In [0]:
len(category_df) + len(nytimes_category)

4271

In [0]:
# Common Categories

pd.merge(category_df, nytimes_category, left_on='categoryName', right_on='category', how='inner')['category'].unique()

array(['Architecture', 'Art', 'Crafts & Hobbies', 'Education',
       'Family & Relationships', 'Learning', 'Mathematics', 'Medical',
       'Music', 'Pets', 'Philosophy', 'Photography', 'Psychology',
       'Science'], dtype=object)

In [0]:
pd.merge(category_df, nytimes_category, left_on='categoryName', right_on='category', how='inner')

    categoryId  categoryName        isbn      category
0          107  Architecture  0767919386  Architecture
1          107  Architecture  0767919394  Architecture
2          107  Architecture  0312569378  Architecture
3          107  Architecture  0789327414  Architecture
4         2509           Art  1627792287           Art
..         ...           ...         ...           ...
75        2534       Science  0553380168       Science
76        2534       Science  0062464345       Science
77        2534       Science  0307589382       Science
78        2534       Science  0393254607       Science
79        2534       Science  0062316095       Science

[80 rows x 4 columns]

In [0]:
categories = ['Architecture', 'Art', 'Crafts & Hobbies', 'Education',
       'Family & Relationships', 'Learning', 'Mathematics', 'Medical',
       'Music', 'Pets', 'Philosophy', 'Photography', 'Psychology',
       'Science']

categories_dict = {}

for category in categories:
  cid = category_df[category_df['categoryName'] == category].categoryId.values[0]

  categories_dict[category] = cid

In [0]:
categories_dict

{'Architecture': 107,
 'Art': 2509,
 'Crafts & Hobbies': 2942,
 'Education': 2553,
 'Family & Relationships': 2791,
 'Learning': 771,
 'Mathematics': 1477,
 'Medical': 1279,
 'Music': 165,
 'Pets': 2524,
 'Philosophy': 2722,
 'Photography': 81,
 'Psychology': 750,
 'Science': 2534}

In [0]:
category_df['categoryId'].max()

3390

In [0]:
nytimes_category['categoryId'] = None

In [0]:
# categories = ['Architecture', 'Art', 'Crafts & Hobbies', 'Education',
#        'Family & Relationships', 'Learning', 'Mathematics', 'Medical',
#        'Music', 'Pets', 'Philosophy', 'Photography', 'Psychology',
#        'Science']

counter = 3391
item = []
for i, row in nytimes_category.iterrows():
  cid = categories_dict.get(row.category)
  if cid:
    row.categoryId = cid
  else:
    row.categoryId = counter
    counter += 1
  print(i)  
  item.append(row)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551

In [0]:
# nytimes_category

df = pd.DataFrame(item)

df

            isbn                   category  categoryId
0     1451627289                    Fiction        3391
1     039915731X                    Fiction        3392
2     0425232204                    Fiction        3393
3     0385535139                    Fiction        3394
4     0307272117                    Fiction        3395
...          ...                        ...         ...
1547  0374298637  Biography & Autobiography        4865
1548  1426215614                Photography          81
1549  1426215649                     Travel        4866
1550  0399584692  Biography & Autobiography        4867
1551  0520285956             Social Science        4868

[1552 rows x 3 columns]

In [0]:
nytimes_category

            isbn                   category categoryId
0     1451627289                    Fiction       3391
1     039915731X                    Fiction       3392
2     0425232204                    Fiction       3393
3     0385535139                    Fiction       3394
4     0307272117                    Fiction       3395
...          ...                        ...        ...
1547  0374298637  Biography & Autobiography       4865
1548  1426215614                Photography         81
1549  1426215649                     Travel       4866
1550  0399584692  Biography & Autobiography       4867
1551  0520285956             Social Science       4868

[1552 rows x 3 columns]

In [0]:
nytimes_categories = nytimes_category[['categoryId', 'category']]

In [0]:
# nytimes_categories.rename(columns={'category': 'categoryName'}, inplace = True)
nytimes_categories

In [0]:
categories_df = pd.concat([category_df, nytimes_categories])

In [0]:
categories_df = categories_df.drop_duplicates()

In [0]:
categories_df

     categoryId                                 categoryName
0          1998                             .Net Programming
1           176  20th Century & Contemporary Classical Music
2          3291  20th Century & Contemporary Classical Music
3          2659      20th Century History: C 1900  To C 2000
4          2661          21st Century History: From C 2000 -
...         ...                                          ...
1546       4864                    Biography & Autobiography
1547       4865                    Biography & Autobiography
1549       4866                                       Travel
1550       4867                    Biography & Autobiography
1551       4868                               Social Science

[4197 rows x 2 columns]

In [0]:
categories_df.to_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/Category.csv')

## BookCategory

Add NYtimes

In [0]:
book_category_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/finalCSV/BookCategory.csv')

book_category_df

In [0]:
nytimes_bookcategories = nytimes_category[['isbn', 'categoryId']]

nytimes_bookcategories

            isbn categoryId
0     1451627289       3391
1     039915731X       3392
2     0425232204       3393
3     0385535139       3394
4     0307272117       3395
...          ...        ...
1547  0374298637       4865
1548  1426215614         81
1549  1426215649       4866
1550  0399584692       4867
1551  0520285956       4868

[1552 rows x 2 columns]

In [0]:
# bookcategories_df = pd.concat([book_category_df, nytimes_bookcategories])

# bookcategories_df = bookcategories_df.drop_duplicates()

bookcategories_df

            isbn categoryId
0      393325792        220
1      393325792        233
2      393325792        237
3      393325792       2644
4      393325792       2679
...          ...        ...
1547  0374298637       4865
1548  1426215614         81
1549  1426215649       4866
1550  0399584692       4867
1551  0520285956       4868

[4081968 rows x 2 columns]

In [0]:
bookcategories_df.to_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/BookCategory.csv')

## Author

Adding NYTimes

In [0]:
# author_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/Author.csv')

authorId       int64
authorName    object
dtype: object

In [0]:
author_df['authorName'] = author_df['authorName'].apply(lambda x: str(x))

In [0]:
author_df

        Unnamed: 0  authorId            authorName
0                0      4872                   nan
1                1    172310         # House Press
2                2     59149  #1 Blank Comic Books
3                3    100888               #Value!
4                4     28924         #vettech Life
...            ...       ...                   ...
245213        1606    245214       Raymond Queneau
245214        1607    245215            Tomas Ross
245215        1608    245216         Stefan Sremac
245216        1609    245217     Nikos Kazantzakis
245217        1610    245218        Naguib Mahfouz

[245218 rows x 3 columns]

In [0]:
# nytimes_authordf = pd.read_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/updated/nytimesbookauthor.csv')
# nytimes_authordf.rename(columns={'Unnamed: 0': 'authorId'}, inplace = True)
nytimes_authordf

      authorId        isbn                              author
0            0  1451627289                        Stephen King
1            1  039915731X                          Tom Clancy
2            2  0425232204                    Kathryn Stockett
3            3  0385535139                        John Grisham
4            4  0307272117                       Stieg Larsson
...        ...         ...                                 ...
1861      1549  1426215649  National Geographic Society (U.S.)
1862      1549  1426215649                 National Geographic
1863      1550  0399584692                      Saroo Brierley
1864      1551  0520285956                      Rebecca Solnit
1865      1551  0520285956               Joshua Jelly-Schapiro

[1866 rows x 3 columns]

In [0]:
common = pd.merge(author_df, nytimes_authordf, left_on='authorName', right_on='author', how='inner')[['authorId', 'authorName']]

common.set_index('authorName', inplace= True)
author_dict = common.to_dict().get('authorId')

In [0]:
max_authorId = author_df['authorId'].max()

max_authorId += 1

In [0]:
# nytimes_authordf['authorId'] = nytimes_authordf['authorId'].apply(lambda x: x + max_authorId)

counter = max_authorId  
item = []
for i, row in nytimes_authordf.iterrows():
  aid = author_dict.get(row.author)
  if aid:
    row.authorId = aid
  else:
    row.authorId = counter
    counter += 1
  print(i)
  item.append(row)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865

In [0]:
nytimes_authordf = pd.DataFrame(item)

In [0]:
nytimes_authors = nytimes_authordf[['authorId', 'author']]

In [0]:
nytimes_authors.rename(columns={'author': 'authorName'}, inplace = True)

nytimes_authors

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      authorId                          authorName
0       134302                        Stephen King
1       121908                          Tom Clancy
2       243700                    Kathryn Stockett
3       139042                        John Grisham
4       152408                       Stieg Larsson
...        ...                                 ...
1861    244375  National Geographic Society (U.S.)
1862       399                 National Geographic
1863    152315                      Saroo Brierley
1864     24298                      Rebecca Solnit
1865     24962               Joshua Jelly-Schapiro

[1866 rows x 2 columns]

In [0]:
authors_df = pd.concat([author_df, nytimes_authors])

In [0]:
authors_df

      authorId                          authorName
0         4872                                 nan
1       172310                       # House Press
2        59149                #1 Blank Comic Books
3       100888                             #Value!
4        28924                       #vettech Life
...        ...                                 ...
1861    244375  National Geographic Society (U.S.)
1862       399                 National Geographic
1863    152315                      Saroo Brierley
1864     24298                      Rebecca Solnit
1865     24962               Joshua Jelly-Schapiro

[245565 rows x 2 columns]

In [0]:
bookMovieAuthors = bookmovie_df[['Author']]

In [0]:
# bookMovieAuthors.reset_index(inplace=True)
bookMovieAuthors.rename(columns={'index':'authorId','Author': 'authorName'}, inplace = True)

bookMovieAuthors

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      authorId           authorName
0            0      Agatha Christie
1            1  Louise L. Lambrichs
2            2        Harry Mulisch
3            3          Nick Hornby
4            4         Louis Begley
...        ...                  ...
1606      1606      Raymond Queneau
1607      1607           Tomas Ross
1608      1608        Stefan Sremac
1609      1609    Nikos Kazantzakis
1610      1610       Naguib Mahfouz

[1611 rows x 2 columns]

In [0]:
common = pd.merge(authors_df, bookMovieAuthors, left_on='authorName', right_on='Author', how='inner')[['authorId', 'authorName']]
# df1.set_index('isbn', inplace = True)
common.set_index('authorName', inplace= True)
author_dict = common.to_dict().get('authorId')

# author_dict.get('Maria Stoian')

In [0]:
max_authorId = authors_df['authorId'].max()
max_authorId += 1

max_authorId

244376

In [0]:
# nytimes_authordf['authorId'] = nytimes_authordf['authorId'].apply(lambda x: x + max_authorId)

counter = max_authorId  
item = []
for i, row in bookMovieAuthors.iterrows():
  aid = author_dict.get(row.authorName)
  if aid:
    row.authorId = aid
  else:
    row.authorId = counter
    counter += 1
  print(i)
  item.append(row)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610

In [0]:
bookMovieAuthors = pd.DataFrame(item)

      authorId           authorName
0        39498      Agatha Christie
1       244376  Louise L. Lambrichs
2       244377        Harry Mulisch
3         3580          Nick Hornby
4          289         Louis Begley
...        ...                  ...
1606    245214      Raymond Queneau
1607    245215           Tomas Ross
1608    245216        Stefan Sremac
1609    245217    Nikos Kazantzakis
1610    245218       Naguib Mahfouz

[1611 rows x 2 columns]

In [0]:
authors_df = pd.concat([authors_df, bookMovieAuthors])

In [0]:
authors_df = authors_df.drop_duplicates()

In [0]:
authors_df

      authorId            authorName
0         4872                   nan
1       172310         # House Press
2        59149  #1 Blank Comic Books
3       100888               #Value!
4        28924         #vettech Life
...        ...                   ...
1606    245214       Raymond Queneau
1607    245215            Tomas Ross
1608    245216         Stefan Sremac
1609    245217     Nikos Kazantzakis
1610    245218        Naguib Mahfouz

[245218 rows x 2 columns]

In [0]:
author_df.to_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/Author1.csv')

### Adding author Wiki Url

In [0]:
author_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/Author1.csv')
authorwiki_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/finalCSV/authorInfo.csv')

In [0]:
# authorwiki_df

df1 = author_df.copy()
df2 = authorwiki_df.copy()


df1['authorName'] = df1['authorName'].apply(lambda x: str(x).replace(' ', '').lower())

df2['authorName'] = df2['authorName'].apply(lambda x: str(x).replace(' ', '').lower())

In [0]:
df3 =df pd.merge(df1, df2, left_on='authorName', right_on='authorName', how='inner')

In [0]:
df3

      Unnamed: 0  ...                                            wikiURL
0            475  ...           https://en.wikipedia.org/wiki/A.A._Milne
1            531  ...  https://en.wikipedia.org/wiki/A._Bertram_Chandler
2            655  ...       https://en.wikipedia.org/wiki/A._E._van_Vogt
3            773  ...         https://en.wikipedia.org/wiki/A._J._Cronin
4           1374  ...         https://en.wikipedia.org/wiki/A._J._Cronin
...          ...  ...                                                ...
1084      245158  ...     https://en.wikipedia.org/wiki/Michael_Morpurgo
1085      245162  ...        https://en.wikipedia.org/wiki/Richard_Adams
1086      245183  ...  https://en.wikipedia.org/wiki/Flannery_O%27Connor
1087      245192  ...        https://en.wikipedia.org/wiki/L._Frank_Baum
1088      245196  ...    https://en.wikipedia.org/wiki/Emily_Bront%C3%AB

[1089 rows x 5 columns]

In [0]:
bookfinalwiki_df = df3[['authorId', 'wikiURL']]

In [0]:
bookfinalwiki_df

      authorId                                            wikiURL
0        33584           https://en.wikipedia.org/wiki/A.A._Milne
1       237362  https://en.wikipedia.org/wiki/A._Bertram_Chandler
2       151173       https://en.wikipedia.org/wiki/A._E._van_Vogt
3         8265         https://en.wikipedia.org/wiki/A._J._Cronin
4       149025         https://en.wikipedia.org/wiki/A._J._Cronin
...        ...                                                ...
1084    245159     https://en.wikipedia.org/wiki/Michael_Morpurgo
1085    245163        https://en.wikipedia.org/wiki/Richard_Adams
1086    245184  https://en.wikipedia.org/wiki/Flannery_O%27Connor
1087    245193        https://en.wikipedia.org/wiki/L._Frank_Baum
1088    245197    https://en.wikipedia.org/wiki/Emily_Bront%C3%AB

[1089 rows x 2 columns]

In [0]:
bookfinalwiki_df.to_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/AuthorWiki.csv')

## BookAuthor

Adding NYTimes

In [0]:
bookAuthor = pd.read_csv('/content/drive/Shared drives/CIS550_Project/finalCSV/BookAuthor.csv')

bookAuthor

                  isbn  authorId
0            393325792       1.0
1           184454737X       2.0
2           184454737X       3.0
3            199669171       4.0
4           1444185497       5.0
...                ...       ...
1566851     1868885976  243697.0
1566852     039332625X  243698.0
1566853  9781444179637  243699.0
1566854     143293600X   15450.0
1566855     143293600X   16153.0

[1566856 rows x 2 columns]

In [0]:
nytimes_bookauthordf = nytimes_authordf[['isbn', 'authorId']]

In [0]:
bookAuthors = pd.concat([bookAuthor, nytimes_bookauthordf])

In [0]:
# bookAuthors = bookAuthors.drop_duplicates()
bookAuthors

In [0]:
bookAuthors.to_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/BookAuthor.csv')

## BookMovie

In [0]:
bookmovie_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/finalCSV/bookMovie.csv')

bookmovie_df

               BookTitle  ...     MovieReleaseYear
0     The A.B.C. Murders  ...                 1966
1            À ton image  ...                 2004
2             De Aanslag  ...                 1986
3            About a Boy  ...                 2002
4          About Schmidt  ...                 2002
...                  ...  ...                  ...
1606  Zazie in the Metro  ...  Zazie dans le Métro
1607        De Zesde Mei  ...                 2003
1608      Zona Zamfirova  ...                 2002
1609     Zorba the Greek  ...                 1964
1610      Zuqāq al-Midaq  ...                 1994

[1611 rows x 5 columns]

In [0]:
book_finalmoviedf = bookmovie_df[['BookTitle', 'MovieTitle', 'MovieReleaseYear']]

In [0]:
book_finalmoviedf.to_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/bookMovie.csv')

## Books

In [0]:
nytimes_booksdf = pd.read_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/updated/nytimes.csv')
book1_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/updated/working/book1.csv')
book2_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/updated/working/book2.csv')

In [0]:
book2_df.isna().sum()

Unnamed: 0              0
isbn10                  0
title                   0
description             0
url                     0
publisher               0
publication-date        0
rating-avg              0
lang                    0
place_name            183
format_name             2
num_pages           93596
img_url             93523
dtype: int64

In [0]:
# Processing the NYTimes 

nytimes_booksdf.drop(['Unnamed: 0'],axis=1, inplace=True)
nytimes_booksdf.rename(columns={'amazon_product_url': 'url', 'book_image': 'img_url'}, inplace = True)

In [0]:
book1_df.columns

Index(['isbn', 'title', 'description', 'url', 'publisher', 'publication_date',
       'rating-avg', 'lang', 'place_name', 'format_name', 'num_pages',
       'img_url'],
      dtype='object')

In [0]:
# Processing Book Depository part 1

book1_df.drop(['Unnamed: 0'],axis=1, inplace=True)
book1_df.rename(columns={'isbn10': 'isbn', 'publication-date': 'publication_date'}, inplace = True)

In [0]:
book2_df.columns

Index(['isbn', 'title', 'description', 'url', 'publisher', 'publication_date',
       'rating-avg', 'lang', 'place_name', 'format_name', 'num_pages',
       'img_url'],
      dtype='object')

In [0]:
# Processing Book Depository part 2

book2_df.drop(['Unnamed: 0'],axis=1, inplace=True)
book2_df.rename(columns={'isbn10': 'isbn', 'publication-date': 'publication_date'}, inplace = True)

In [0]:
books_df = pd.concat([nytimes_booksdf, book1_df])
books_df = pd.concat([books_df, book2_df])

In [0]:
len(book1_df) + len(book2_df) + len(nytimes_booksdf)

184734

In [0]:
books_df

In [0]:
books_df.to_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/Books.csv')

In [0]:
books_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/Books1.csv')

In [0]:
books_df

        Unnamed: 0  Unnamed: 0.1  ...               place_name format_name
0                0             0  ...                      NaN         NaN
1                1             1  ...                      NaN         NaN
2                2             2  ...                      NaN         NaN
3                3             3  ...                      NaN         NaN
4                4             4  ...                      NaN         NaN
...            ...           ...  ...                      ...         ...
184651      184729        138986  ...  New York, United States   Paperback
184652      184730        138987  ...   London, United Kingdom   Paperback
184653      184731        138988  ...   London, United Kingdom   Paperback
184654      184732        138989  ...   London, United Kingdom    Hardback
184655      184733        138990  ...   London, United Kingdom   Paperback

[184656 rows x 14 columns]

In [0]:
a = books_df['isbn'].values

In [0]:
b = books_df['isbn'].apply(lambda x: len(x))

In [0]:
# books_df[b != 10]

# dup_books_df = books_df[books_df.duplicated(['isbn'])]

# df = books_df.drop_duplicates(['isbn'])

df

        Unnamed: 0  Unnamed: 0.1  ...               place_name format_name
0                0             0  ...                      NaN         NaN
1                1             1  ...                      NaN         NaN
2                2             2  ...                      NaN         NaN
3                3             3  ...                      NaN         NaN
4                4             4  ...                      NaN         NaN
...            ...           ...  ...                      ...         ...
184651      184729        138986  ...  New York, United States   Paperback
184652      184730        138987  ...   London, United Kingdom   Paperback
184653      184731        138988  ...   London, United Kingdom   Paperback
184654      184732        138989  ...   London, United Kingdom    Hardback
184655      184733        138990  ...   London, United Kingdom   Paperback

[183545 rows x 14 columns]

In [0]:
len(books_df) - len(df)

1111

In [0]:
dup_books_df

        Unnamed: 0  Unnamed: 0.1  ...               place_name format_name
50              54            54  ...                      NaN         NaN
66              71            71  ...                      NaN         NaN
72              77            77  ...                      NaN         NaN
109            114           114  ...                      NaN         NaN
115            120           120  ...                      NaN         NaN
...            ...           ...  ...                      ...         ...
180315      180393        134650  ...  New York, United States    Hardback
181321      181399        135656  ...  New York, United States    Hardback
181422      181500        135757  ...  New York, United States   Paperback
181469      181547        135804  ...  New York, United States   Paperback
181559      181637        135894  ...  New York, United States   Paperback

[1111 rows x 14 columns]

In [0]:
duplicateRowsDF = dfObj[dfObj.duplicated(['Age', 'City'])]

In [0]:
books_df = books_df[books_df['isbn'] != 'None']

In [0]:
books_df.to_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/Booksfinal.csv')

In [0]:
# books_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/Books-temp/final/csv/Books2.csv');

books_df.dropna()

                 isbn  ... for-ages
2050       1510705937  ...     9-12
2053    9780307020970  ...    12-17
2056    9781444003345  ...       9+
2060    9781416950066  ...    12-17
2081    9780375832208  ...     9-12
...               ...  ...      ...
181820     1566868084  ...    12-17
181885     1566869021  ...    12-17
181945     8467861010  ...     9-12
182654     1599612879  ...     9-12
183033     1479554677  ...      6-8

[6083 rows x 13 columns]

In [0]:
book_depository_dataset_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/book-depository-dataset/dataset.csv')

In [0]:
books_df = pd.merge(books_df, book_depository_dataset_df[['isbn10', 'for-ages']], left_on='isbn', right_on='isbn10', how='left')

In [0]:
books_df.drop(['Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.1.1', 'isbn10' ],axis=1, inplace=True)

In [0]:
book_depository_dataset_df = pd.read_csv('/content/drive/Shared drives/CIS550_Project/book-depository-dataset/dataset.csv')